<main class="flex flex-wrap gap-4">
  <%= render 'newsletters/sidebar' %>
  <div class="basis-0 flex-grow-[999] [min-inline-size_50%] min-h-screen py-5">
    <div class="w-full min-h-full bg-white border rounded-md shadow-sm border-zinc-100"></div>
  </div>
</main>
