<section class="flex items-center justify-between gap-2">
  <h2 class="text-xl font-medium">Drafts</h2>
  <%= link_to new_post_path, class: 'btn btn-primary' do %>
    Compose
  <% end %>
</section>
<% if @posts.empty? %>
<div class="h-full py-20 mt-6 border border-dashed rounded-md border-stone-300">
  <p class="text-center text-stone-500">No posts found</p>
</div>
<% else %>
<section class="mt-6 divide-y divide-stone-200 border-y border-stone-200">
  <% @posts.each do |post| %>
    <%= render 'posts/card', post: post %>
  <% end %>
</section>
<% end %>
