<section class="flex items-center justify-between gap-2">
  <h2 class="text-xl font-medium">Published Posts</h2>
  <%= link_to new_post_path, class: 'btn btn-primary' do %>
    Compose
  <% end %>
</section>
<% if @posts.empty? %>
<div class="py-12">
  <p class="text-center text-stone-500">No posts found</p>
</div>
<% else %>
<section class="mt-6 divide-y divide-stone-200/60">
  <% @posts.each do |post| %>
    <%= render 'posts/card', post: post %>
  <% end %>
</section>
<% end %>