<%= form_with model: @post, url: create_post_path(slug: @newsletter.slug, id: @post.id), method: :post do |form| %>
  <div class="mx-auto prose">
    <%= form.rich_text_area :content %>
  </div>
  <%= form.submit 'Save Draft', class: 'btn btn-primary' %>
<% end %>