<article class="max-w-xl py-8 mx-auto">
  <div
    class="
      prose prose-headings:text-newsletter-primary prose-a:text-newsletter-primary
    "
  >
    <h1 class="text-3xl"><%= @post.title %></h1>
    <%= @post.content %>
  </div>

  <hr class="my-8"/>

  <div class="font-sans text-sm text-stone-500">
    Published and sent on
    <span class="font-medium text-stone-800"><%= @post.published_at.strftime("%B %e, %Y") %></span>
    at
    <span class="font-medium text-stone-800"><%= @post.published_at.strftime("%H:%M %p") %></span>
  </div>
</article>
