<p>
  You can reset your password within the next 15 minutes on
  <%= link_to "this password reset page",
  edit_password_url(@user.password_reset_token) %>
  .
</p>

<p>
  If you didn’t mean to set your password, just ignore this email and we’ll
  forget this ever happened 😉
</p>
