<main class="flex flex-wrap gap-4">
  <div class="sticky top-0 h-screen py-5 space-y-5 basis-40 grow">
      <h1 class="mt-1 text-xl"><%= @newsletter.title %></h1>
      <nav class="grid gap-1 text-stone-500">
        <ul>
          <li>
            <a class="flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md hover:bg-stone-200/50" href="">
              <span>Posts</span>
              <span class="rounded-md px-2 py-0.5 leading-3 bg-stone-200 text-[10px] font-sans tabular-nums">
                <%= @newsletter.posts.published.count %>
              </span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md hover:bg-stone-200/50" href="">
              <span>Drafts</span>
              <span class="rounded-md px-2 py-0.5 leading-3 bg-stone-200 text-[10px] font-sans tabular-nums">
                <%= @newsletter.posts.drafts.count %>
              </span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md hover:bg-stone-200/50" href="">
              <span>Subscribers</span>
              <span class="rounded-md px-2 py-0.5 leading-3 bg-stone-200 text-[10px] font-sans tabular-nums">
                <%= @newsletter.subscribers.verified.count %>
              </span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md hover:bg-stone-200/50" href="">
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
  <div class="basis-0 flex-grow-[999] [min-inline-size_50%] min-h-screen py-5">
    <div class="w-full min-h-full bg-white border rounded-md shadow-sm border-zinc-100"></div>
  </div>
</main>
