<dialog id="turbo-confirm-dialog" class="p-6 pt-5 pb-7 bg-white overflow-hidden rounded-lg shadow-with-inset min-w-sm w-96 gap-4 space-y-4 font-sans">
  <h2 id="turbo-confirm-title" class="text-xl font-medium">Are you sure?</h2>
  <p id="turbo-confirm-message" class="text-sm text-stone-500"></p>
  <form method="dialog" class="flex justify-end gap-2 mt-6">
    <button value="cancel" class="btn btn-secondary">Cancel</button>
    <button value="confirm" id="turbo-confirm-button" class="btn btn-danger">Confirm</button>
  </form>
</dialog>
