<h3 class="font-medium tracking-widest uppercase text-stone-500 font-mono text-xs mt-4 after:content-['_[REQUIRED]'] after:text-red-600">DKIM & SPF</h3>
<div class="px-4 py-2 mt-2 space-y-2 font-mono text-xs rounded-lg bg-stone-100 text-stone-800">
  <div class="grid grid-cols-10 gap-2 font-medium tracking-widest uppercase text-stone-500">
    <div class="col-span-1">Type</div>
    <div class="col-span-2">Name</div>
    <div class="col-span-4">Value</div>
    <div class="col-span-1 text-right">TTL</div>
    <div class="col-span-1 text-right">Priority</div>
    <div class="col-span-1 text-right">Status</div>
  </div>
  <% newsletter.dns_records&.each do |record| %>
    <%= render 'newsletters/settings/partials/dns_record_row', record: record %>
  <% end %>
</div>
<h3 class="font-medium tracking-widest uppercase text-stone-500 font-mono text-xs mt-4 after:content-['_[OPTIONAL]'] after:text-slate-200']">DMARC</h3>
<div class="px-4 py-2 mt-2 space-y-2 font-mono text-xs rounded-lg bg-stone-100 text-stone-800">
  <%= render 'newsletters/settings/partials/dns_record_row', record: @newsletter.dmarc_record %>
</div>
