<div class="mb-4 max-w-lg">
  <h3 class="font-medium text-lg text-stone-800"><%= title %></h3>
  <% if local_assigns[:subtitle] %>
    <p class="mt-1 font-sans text-sm text-stone-500"><%= subtitle %></p>
  <% end %>
</div>
