<form
  action="https://picoletter.com/subscribe/tinyjs/embed"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://picoletter.com/tinyjs', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" autocomplete="email" id="bd-email">

  <input type="submit" value="Subscribe">
  <p><a href="https://picoletter.com?from=tinyjs" target="_blank">Managed by Picoletter.</a></p>
</form>
