default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

queue: &queue
  <<: *default
  migrations_paths: db/queue_migrate

cache: &cache
  adapter: sqlite3
  timeout: 5000
  migrations_paths: db/cache_migrate

development:
  primary:
    <<: *default
    database: picoletter_development
  queue:
    <<: *queue
    database: picoletter_development
  cache:
    <<: *cache
    database: storage/development_cache.sqlite3

test:
  primary:
    <<: *default
    database: picoletter_test
  queue:
    <<: *queue
    database: picoletter_test
  cache:
    <<: *cache
    database: storage/test_cache.sqlite3

production:
  primary:
    <<: *default
    database: picoletter_production
    username: picoletter
    url: <%= ENV['DATABASE_URL'] %>
  queue:
    <<: *queue
    url: <%= ENV['DATABASE_URL'] %>
  cache:
    <<: *cache
    database: storage/production_cache.sqlite3
