default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

queue: &queue
  <<: *default
  migrations_paths: db/queue_migrations

cache: &cache
  <<: *default
  migrations_paths: db/cache_migrations

development:
  primary:
    <<: *default
    database: picoletter_development
  queue:
    <<: *queue
    database: picoletter_development_queue
  cache:
    <<: *cache
    database: picoletter_development_cache

test:
  primary:
    <<: *default
    database: picoletter_test
  queue:
    <<: *queue
    database: picoletter_test_queue
  cache:
    <<: *cache
    database: picoletter_test_cache

production:
  primary:
    <<: *default
    database: picoletter_production
    username: picoletter
    url: <%= ENV['DATABASE_URL'] %>
  queue:
    adapter: sqlite3
    database: storage/production_queue.sqlite3
    migrations_paths: db/queue_migrations
    pool: 1
    timeout: 10000
    pragmas:
      journal_mode: wal
      busy_timeout: 10000
      synchronous: normal
      cache_size: 2000
  cache:
    adapter: sqlite3
    database: storage/production_cache.sqlite3
    migrations_paths: db/cache_migrations
    pool: 1
    timeout: 10000
    pragmas:
      journal_mode: wal
      busy_timeout: 10000
      synchronous: normal
      cache_size: 2000
