# SQLite. Versions 3.8.0 and up are supported.
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem "sqlite3"
#
default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  retries: 100
  default_transaction_mode: immediate

# We will use separate databases for primary, queue, and cache.
primary: &primary
  <<: *default
  database: storage/<%= Rails.env %>.sqlite3

queue: &queue
  <<: *default
  migrations_paths: db/queue_migrate
  database: storage/<%= Rails.env %>-queue.sqlite3

cache: &cache
  <<: *default
  migrations_paths: db/cache_migrate
  database: storage/<%= Rails.env %>-cache.sqlite3

development:
  primary: *primary
  queue: *queue
  cache: *cache

test:
  primary: *primary
  queue: *queue
  cache: *cache

production:
  primary: *primary
  queue: *queue
  cache: *cache
