<turbo-stream action="append" target="conditions-container">
  <template>
    <div id="<%= @condition_id %>" class="condition-group">
      <%= render partial: "rule_condition",
      formats: [:html],
      locals: {
        labels: @labels,
        condition_id: @condition_id,
        newsletter: @newsletter,
      } %>
    </div>
  </template>
</turbo-stream>
