<div class="flex items-center gap-2 py-4 group">
    <div class="w-4 h-4 rounded-sm" style="background-color: <%= label.color %>"></div>
    <h3 class="font-medium"><%= label.name %></h3>
    <% if label.description.present? %>
        <p class="mt-0.5 text-sm text-stone-500"><%= label.description %></p>
    <% end %>
</div>