<section class="flex items-center justify-between gap-2">
  <h2 class="text-xl font-medium">Labels</h2>
</section>
<% if @labels.empty? %>
  <div class="h-full py-20 mt-6 border border-dashed rounded-md border-stone-300">
    <p class="text-center text-stone-500">No labels found</p>
  </div>
<% else %>
  <section class="mt-6">
    <div
      class="
        grid grid-cols-5 py-4 font-sans text-xs font-medium tracking-widest uppercase
        text-stone-500
      "
    >
      <div class="col-span-1">
        Name
      </div>
      <div class="col-span-2">
        Description
      </div>
      <div class="col-span-1">
        Subscribers
      </div>
      <div class="col-span-1 text-right">
        Actions
      </div>
    </div>
  </section>
  <section>
    <%= render partial: "newsletters/labels/row",
    collection: @labels,
    as: :label,
    cached: true %>
  </section>
<% end %>
