<a href="#" class="grid grid-cols-4 py-4 hover:bg-gradient-to-r from-slate-50/10 via-stone-50 to-slate-50/10">
  <div class="col-span-2">
    <h2><%= post.title %></h2>
  </div>
  <div class="font-sans text-sm leading-6 text-right text-stone-500">
    <% if post.published? %>
      Published on <b class="font-medium text-stone-700"><%= post.published_on_date %></b>
    <% end %>
  </div>
  <div class="font-sans text-sm leading-6 text-right text-stone-500">
    Created on <b class="font-medium text-stone-700"><%= post.created_at.strftime("%B %d, %Y") %></b>
  </div>
</a>