<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Add your custom styles here */
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        padding: 20px;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333333;
        font-size: 24px;
        margin-bottom: 20px;
      }

      .content {
        margin-bottom: 30px;
      }

      .footer {
        color: #777777;
        font-size: 14px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= @post.title %></h1>
      <div class="content">
        <%= @post.content %>
      </div>
      <div class="footer">
        <%= sanitize @newsletter.footer_html %>
      </div>
      <div class="footer">
        You are receiving this email because you are subscribed to <%= @newsletter.title %>. Click here to {{unsubscribe_link}}.
      </div>
    </div>
  </body>
</html>
