name: RSpec

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl libjemalloc2 libvips postgresql-client libpq-dev

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install DeepSource CLI
        run: curl https://deepsource.io/cli | sh

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Setup Databases
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          QUEUE_DATABASE_URL: postgres://postgres:postgres@localhost:5432
        run: |
          bin/rails db:create
          bin/rails db:schema:load
          bin/rails db:schema:load:queue

      - name: Run tests
        env:
          RAILS_ENV: test
          COVERAGE: "true"
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          QUEUE_DATABASE_URL: postgres://postgres:postgres@localhost:5432
        run: bin/rails spec

      - name: Upload coverage artifacts
        run: deepsource report --analyzer test-coverage --key ruby --value-file ./coverage/assets/.resultset.json
